.header{
    text-align: center;
    background-color: rgba(148, 105, 189, 0.555);
}
.logo{
    height: 100px;
    width: 550px;
}
.header nav{
    background-color: black;
    line-height: 50px;
    text-align: left;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 10px;
    font-size: 20px;
}

.header nav a:hover{
    background-color: cornsilk; 
    color: black;
    font-size: 20px;
}

.header .team{
    background-color: rgba(77, 178, 218, 0.603);
    padding-bottom: 5px;
}
